// Font
@font-face {
	font-family: 'Armata';
	src: url(../../public/assets/fonts/Armata/Armata-Regular.ttf);
}

html, body, span , div, h1, h2, h3, h4, h5, h6, select, input, textarea, button, a {
    font-family: 'Armata', sans-serif;
}

// Semantic-UI
@import '~semantic-ui-sass/semantic-ui';

// Css Spacing Selectors
@import './spacing';


.justify-content-center {
	justify-content: center;
}

.floated {
	&.left {
		float: left !important;
	}
	&.right {
		float: right !important;
	}
}

.aligned {
	&.right {
		text-align: right !important;
	}
}

.ui.star.rating .active.icon {
	color: #ffbc00 !important;
	text-shadow: none !important;
}

.ui.button {
	&.yellow
	{
		background: #ffb922 !important;
	  color: #000 !important;

	  &:hover {
	    background: #ffba20 !important;
	    color: #000 !important;
		}
	}

	&.white {
		background: #fff !important;
	  color: #000 !important;

	  &:hover {
	    background: #fff !important;
	    color: #000 !important;
		}
	}
}

h2 {
	font-size: 1.5rem;
}


a {
    opacity: 1 !important;
    color: #000;
    cursor: pointer;
}

.bold {
	font-weight: bold;
}

.overflow-hidden {
	overflow: hidden;
}

.hide-scroll {
	overflow: hidden;
	
	&.v-scroll {
		.wrapper {
			overflow-y: auto;
			overflow-x: hidden;
			visibility: hidden;
			height: 100% !important;
		}	
	}
	
	&.h-scroll {
		.wrapper {
			overflow-y: hidden;
			overflow-x: auto;
			visibility: hidden;
			width: 100% !important;
		}
	}

	&.vh-scoll {
		.wrapper{
			height: 100%;
			width: 100%;
			overflow-y: hidden;
			overflow-x: auto;
			visibility: hidden;
		}
	}
}


/*html
{
	visibility: hidden;
}*/

input {
	&.error {
	  background: #FFF6F6 !important;
	  border-color: #E0B4B4 !important;
	  color: #9F3A38 !important;
	}
}

html, body
{
    height: auto !important;
    background: #f9f9f9;
}

.main.container {
    padding-top: 60px;
    width: 100% !important;
    background: ghostwhite;
    margin: 0 auto !important;
}

.center.aligned {
	text-align: center;
}

.left.aligned {
	text-align: left;
}

.right.aligned {
	text-align: right;
}


.buttons {
	&.spaced {
		display: flex;

		.button {
			flex: 1;
			
			&.basic {
				border: 1px solid #dddddd;
				border-radius: .25rem;
			}

			&:not(:last-child) {
				margin-right: .5rem;
			}
		}
	}
}

.display-flex {
	display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.custom.divider {
    border-bottom: 5px solid #2185d0 !important;
    margin: 1rem -1rem;
}


.d-none {
	display: none !important;
}

.d-block {
	display: block !important;
}

.d-inline-block {
	display: inline-block;
}

[v-cloak] { 
	display:none; 
}

.d-flex {
	display: flex;
}

.borderless {
	border: none !important;
}

.shadowless {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}


.radiusless {
	border-radius: 0 !important;
}

.rounded-corner {
	border-radius: .25rem !important;
}

.circular-corner {
	border-radius: 500px;
}

.w-25 {
	width: 25% !important;
}

.w-50 {
	width: 50% !important;
}

.w-75 {
	width: 75% !important;
}

.w-100 {
	width: 100% !important;
}

.capitalize {
	text-transform: capitalize;
}

img {
	max-width: 100%;
}

.divider.fluid {
	margin-left: -1rem !important;
	margin-right: -1rem !important;
}

.ui.celled.grid>.column:not(.row), .ui.celled.grid>.row>.column, .ui.celled.grid>.row {
	@extend .shadowless;
}

.ui.card>:last-child, .ui.cards>.card>:last-child {
	border-radius: 0;
}

.ui.secondary.menu .active.item {
	background: transparent;
	font-weight: 600;
}


span.tag {
	color: #fff;
    display: block;

	&.red {
		background: #ff3e4d!important;
		color: #fff!important;
	}
	&.yellow {
		background: linear-gradient(to right, #ffd366, #ffc73e, #ffb500) !important;
		background: #ffc12a;
		color: #000;
	}
	&.blue {
		background: #00a5ef !important;
		color: #fff !important;
	}
	&.teal {
		background: #009688 !important;
		color: #fff !important;
	}
	&.green {
		background: #00ad50 !important;
		color: #fff !important;
	}
}


.button {
	&.silver {
		background: silver;
    	color: #fff;

    	&:hover, &:active, &:focus {
    		color: #fff;
    		font-weight: bold;
    	}
	}

	&.tumblr {
		background: #44546A;
		color: #fff;

		&:hover {
			background: #394659;
			color: #fff;
		}
	}

	&.white {
		background: #fff !important;
		color: #000 !important;
		font-weight: normal !important;

		&.basic {
			border: 1px solid silver !important;
		}

		&:hover {
			font-weight: bold !important;
		}
	}
}

.card {
	@extend .shadowless;
	position: relative !important;
}

.label {
	&.white {
	    background: #fff !important;
	    color: #909090 !important;
	}

	&.silver {
	    background: silver !important;
	    color: #fff !important;
	}
}

.right.floated {
	float: right;
}

.dimmer.modals {
	overflow-y: auto;
}

#vertical-divider {
    position: relative;
    height: 100%;
		padding: 0;

    &:before {
	    content: '';
	    position: absolute;
	    width: 1px;
	    height: 100%;
	    background: #ececec;
	    z-index: 1;
	}
}

#body {
    max-width: 1400px;
    margin: auto;
    background: white;
    border-radius: .5rem;
}



#top-menu {
  position: fixed;
  z-index: 99;
  background: #fff;
  border: none;
  height: 60px;
  border-bottom: 1px solid #f6f6f6;
  max-width: 100vw;
  width: 100%;
  left: 0;
  margin: 0 auto;
	border-radius: 0;

  .user {
  	&:hover {
  		color: #116CA2;
  	}

  	> .left.menu {
	    min-width: 150px;
	    background: #20598a;
			
			> .item {
		    color: #fff !important;
		    font-weight: normal !important;
		    position: relative;
		    padding-top: 1rem !important;
		    padding-bottom: 1rem !important;
				margin: 0 !important;

		    &:hover {
		    	background: #343c42 !important;
		    }

		    &:first-child {
					background: white !important;
			    color: #000 !important;
			    border-radius: .25rem .25rem 0 0 !important;

			    &:hover {
			    	background: white !important;
  					font-weight: bold !important;
			    }
		    }

		    &:last-child {
					background: #fff !important;
					color: #000 !important;
					border-radius: 0 0 .25rem .25rem !important;

					&:hover {
			    	background: white !important;
  					font-weight: bold !important;
			    }
		    }
			}
  		
  		> div.item, a.item {
  			@extend .radiusless;
  		}

			.left.menu {
				top: -42px !important;
		    border-radius: .5rem 0 0 .5rem !important;
		    background: #fff;
		    box-shadow: -3px 0 5px 1px #d1d1d1 !important;

		    .item {
				  position: relative;
				  padding-top: 1rem !important;
				  padding-bottom: 1rem !important;
				  color: #000 !important;

				  &:hover {
			    	background: #f7f7f7  !important;

			    	&:after {
			    		visibility: hidden;
			    	}
			    }

			    &:not(:last-child):after {
					  content: '';
					  position: absolute;
					  bottom: 0;
					  left: 5%;
					  height: 1px;
					  width: 90%;
					  background: #e0e0e0 !important;

					  &:hover {
				    	background: #ececec !important;
				    }
					}
				}
			}
  	}
  }
	
	.dropdown.cart 
  {
		position: relative;
		
    .menu 
    {
			min-width: 300px;
			max-width: 300px;
      position: absolute;
      right: 0;
      top: 65px;
      margin-top: 0;
      visibility: hidden;
		}

    .items .item 
    {
			display: flex;
			@extend .radiusless;
			width: 300px;
			cursor: text;
      margin: 0 !important;

			&.checkout {
				justify-content: center;
				background: #1c84ef;
				cursor: pointer;
				color: #fff;
				border-radius: 0  0 .25rem .25rem !important;
				width: 100%;
				margin: 0 !important;
				
        &:hover, &:active, &:focus 
        {
					font-weight: bold !important;
					background: #317fcf !important;
					color: #fff;
				}
			}
			
      &:not(:last-child) 
      {
			  border-bottom: 1px solid #ebebeb;
			}

      &:hover 
      {
			  font-weight: normal !important;
			}

      .content 
      {
				text-overflow: ellipsis;
			  white-space: nowrap;
			  overflow: hidden;
			}
			
      strong 
      {
				cursor: pointer;

        &:hover 
        {
				  color: #346894;
				}
			}

			.subcontent {
			  display: flex;
			  justify-content: center;
			  align-items: center;
			  flex-direction: row;

        input 
        {
					width: 100%;
				  border: 1px solid #dadada;
				  box-shadow: none;
				  padding: .35rem;
				  @extend .rounded-corner;
				}

        div 
        {
				  flex: 1;
				  text-align: center;

          &.price 
          {
						flex: 2;
					  text-align: left;
				  }

          &.remove 
          {
						text-align: right;
						cursor: pointer;
						
            &[disabled="disabled"] 
            {
							cursor: default;
						}

            &:not([disabled="disabled"]):hover i 
            {
						  font-weight: bold !important;
						}
				  }
				}
			}

      .image 
      {
				width: 50px !important;
			  height: 50px !important;
			}
		}

    span 
    {
			margin-left: .25rem;
		}
	}

	.dropdown.notifications
  {
    .menu
    {
      width: 300px;
      position: absolute;
      right: 0;
      top: 65px;
      margin-top: 0;
      visibility: hidden;

      .item 
      {
        padding: .5rem;
        text-align: left;
        border-radius: 0;
        margin: 0 !important;

        &:not(:last-child) 
        {
          border-bottom: 1px solid whitesmoke;
        }

        .image 
        {
          width: 50px !important;
          height: 50px !important;
        }

        p, time {
          font-size: .9rem;
        }

        time
        {
          float: right;
        }

        &.all
        {
          padding: .75rem;
          text-align: center !important;
          justify-content: center;
          background: #1c84ef;
          border-radius: 0 0 .25rem .25rem;
          font-weight: bold;
          color: #fff;

          &:hover
          {
            background: #317fcf !important;
          }
        }
      }

      div.item {
        cursor: initial;
      }
    }
  }

  > .header {
    padding: 0 0 0 1rem !important;
    margin: 0;

    img {
    	max-height: 50px;
    }
  }

	.item {
		position: relative;

		&:hover, &:active, &:focus {
			background: transparent !important;
			font-weight: 600 !important;
		}
	}

	>.right.menu > .item {
		cursor: pointer;
    display: flex;
    padding: 0 .5rem;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 .6rem;

    span {
		  margin-top: .5rem;
		}

		i {
		  font-size: 1.3rem;
		}

		&.search-icon {
			display: none;
		}
	}
	
	> .item.search {
		flex: 1;
		max-width: 400px;
		min-width: 0;
	}

	> .item, .right.menu > .item {
    height: 60px;
    font-size: 1rem;
	}

	.ui.dropdown {
		.header {
			font-size: 1rem;
		    width: 100%;
		    display: block;
		    text-align: center;
		    margin: 0;
		    padding: 1rem;
		    position: relative;
		    color: #fff;
		}

		.left.menu {
			//@extend .shadowless;
			@extend .borderless;
		}
	}

	/* .notifications .item {
	    display: flex;
	    margin: 0;
	    max-width: 320px;
	    position: relative;

	    &:last-child {
		    background: #ff745b;
		    color: #fff;
		    border-radius: 0 0 .25rem .25rem;

		    &:hover {
				background: #f3674e !important;
				color: #fff;
		    }
	    }

	    &:not(:last-child):after {
	    	position: absolute;
	    	content: '';
	    	width: 100%;
	    	height: 1px;
	    	bottom: 0;
	    	left: 0;
			background: #f7f7f7;
		    visibility: visible;
	    }

	    .image {
		    width: 40px !important;
		}

		.date {
		    color: #949292;
		}

		.content {
		    font-size: 12px;
		    text-overflow: ellipsis;
		    overflow: hidden;
		    white-space: nowrap;
		}

		strong {
		    color: steelblue;
		}
	} */
}

#mobile-search-bar {
	display: none !important;
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 9;
  background: #fff;
  padding: .75rem;
  height: 60px;
  width: 100%;
}

#mobile-menu {
	position: fixed;
	top: 60px;
	z-index: 9;
	background: #ffffff;
	margin: 0;
	border-radius: 0;
	box-shadow: none;
	border: 0;
	width: 280px;
	height: calc(100vh - 60px);
	visibility: hidden;
	padding: .5rem;
	
	.parent > span > a {
		cursor: default;
	}

	&:before {
		position: absolute;
    //content: '';
    height: 80%;
    top: 0;
    right: 5px;
    z-index: -1;
    transform: rotate(2deg);
    box-shadow: -1px -2px 8px 8px #242424;
	}

	.search-form {
		input {
	    color: #000;
	    font-size: 1rem;
	    height: 32px;
	    outline: none;
		}
	}

	.wrapper {
		max-height: calc(100vh - 74px);
		height: calc(100vh - 74px);
		padding: 0.25rem;

		&.main	.child {
			position: relative;
			max-height: 194px;
		}
	
		&.sub	.child {
			position: relative;
			max-height: calc(100vh - 158px);
		}
	}

	.item {
		&:before, &:after {
			display: none;
		}
	}

	.item {
    -webkit-box-flex: 1;
    flex: 1;
    white-space: nowrap;
    padding: .25rem;
		
    a {
		  padding: 0.5rem 1rem .5rem .5rem;
		  display: block;
		  border-radius: .25rem;
			color: #272727;
			background: whitesmoke;

			&:hover {
				font-weight: bold;

				i {
				  color: #272727;
				}
			}
		}
	}

	.child {		
		a {
		  background: #ffffff;
			cursor: pointer;
			border-left: 3px solid #20b2aa;
			padding-left: .75rem;

		  &:hover {
			  background: whitesmoke;
			  color: #0a0a0a;
			}
		}
	}
	
	.categories, .subcategories {
		> .item a {
			background: lightseagreen;
	    font-weight: bold;
	    color: #fff;

	    &:hover {
	    	color: #fff;

	    	i {
	    		color: #fff;
	    	}
	    }
		}
	}

	.pages {
		> .item a {
			background: linear-gradient(45deg, #ffaf22, #ffc722, #ff9e22);
	    color: #000;
	    font-weight: bold;

	    &:hover {
	    	color: #000;

	    	i {
	    		color: #000;
	    	}
	    }
  	}

  	.child {
	  	a {
				border-left: 3px solid #ffa822;
			}
  	}
	}

	a.item:hover {
		i {
		  color: #00b0ff;
		}
	}
}

#blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(36, 93, 153, 0.43);
  z-index: 8;
}

#items-menu {
	position: fixed;
	top: 60px;
	left: 0;
  background: #fff;
  width: 100%;
  z-index: 9;
  display: none;

	&:before, &:after {
		content: '';
		position: absolute;
		bottom: 20px;
    z-index: -1;
    height: 50%;
    width: 50%;
	}

	&:before {
    left: 0;
    box-shadow: 3px 11px 9px 3px grey;
    transform: rotate(-2deg);
	}
	
	&:after {
    right: 0;
    box-shadow: -3px 11px 9px 3px grey;
    transform: rotate(2deg);
	}

	.categories {
    display: flex;
    white-space: nowrap;
    width: 100vw;
    overflow: hidden;
    height: 47px;
		text-align: left;
		background: #fff;

		.wrapper >.item {
			display: -webkit-inline-flex;
			display: inline-flex;
			margin: 0;
			padding: .5rem;
			color: #202020;
			position: relative;
			cursor: pointer;
	    font-size: 1rem;
			
			&:last-child {
				margin-right: 1rem;
			}

			&:hover {
				font-weight: bold;
			}

			&:not(:first-child) {
			    margin-left: -.25rem;
			}

			&:not(:last-child):after {
			  content: '';
				width: 1px;
				right: 0;
				height: 20px;
				top: 13.5px;
				left: initial;
				position: absolute;
				background: #dfdfdf;
			}

			> span {
				display: block;
				padding: .5rem;
				border: 1px solid #e8e8e8;
				border-radius: .25rem;
			}

			.items {
				display: none;
				position: absolute;
		    top: 100%;
		    background: #fff;
		    z-index: 99;
		    min-width: 200px;
		    left: 0;
		    max-height: calc(100vh - 113px);
		    overflow-y: auto;

		    .item {
					padding: .9rem;
					margin: 0;
					display: block;
					position: relative;

					&:not(:last-child):after {
				    content: '';
				    width: 100%;
				    bottom: 0;
				    height: 1px;
				    background: #f7f7f7;
				    z-index: 9;
				    position: absolute;
				    left: 0;
					}
		    }
			}

			&.active {
				.items {
					display: block;
				}
			}
    }
  }
}


.items-menu.popup {
	background: #fff;
	position: fixed;
	z-index: 9;
	max-width: 200px;
	border-radius: 0 0 .25rem .25rem;
  max-height: 260px;
  height: 100%;
  top: 107px !important;

	 a {
	  padding: .5rem;
	  display: block;
	  color: #000;
	  position: relative;
		
		span {
			display: block;
			padding: 0.5rem;
			border: 1px solid #e8e8e8;
			border-radius: 0.25rem;
		}

		&:last-child {
	    border-radius: 0 0 .25rem .25rem;
		}

		&:not(:last-child):after {
			content: '';
			position: absolute;
			bottom: 0;
			height: 1px;
			width: 90%;
			background: #e8e8e8;
			left: 5%;
		}
		
		&.active {
			background: white;
			color: #000;
		  font-weight: bold;
		}
	  
	  &:hover {
		  font-weight: bold;

		  &:after {
			  visibility: hidden;
			}
		}
	}
}


#top-search {
	border: none;
	position: relative;
  background-size: contain;
  z-index: 2;
  overflow: hidden;

	&:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
	}
	
	.categories {
		/* max-width: 1280px; */
		margin: auto;

		.label {
			color: #007ec1;
			border: 1px solid #007ec1;

			&:hover {
			  color: #fff;
			  background: #007ec1;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}

	form {
		max-width: 400px;
		margin: auto;
		margin-top: 3rem;
	}

  h1, h3 {
		padding: .5rem 1rem;
    background: transparent;
    color: #333;
    display: inline-block;
    margin: 0 auto;
    text-shadow: 0 0 10px #d0d0d0;
	}

  h1 {
	    margin-bottom: 0;
	    max-width: 700px;
	}

	h3 {
		margin: 1rem auto;
		overflow: hidden;
		max-width: 400px;
    width: 100%;
		white-space: nowrap;
	}

	.grid {
		height: 100%;
	}
}

#single-page {
	background: ghostwhite;
  padding: 0 1rem;

  .column {
  	background: #fff;
    padding: 1rem 0;
    min-height: 80vh;
  }

	.title-wrapper {
    background: ghostwhite;
    padding: 1rem;
    margin: 0 1rem;
    border-radius: 0.5rem;
	}
}

.section-title {
	text-align: center;
}

.home-items {
  background: ghostwhite;
  padding: 0 1rem;
  width: 100%;

  .wrapper {
    background: #fff;
    border-radius: .5rem;

    &:not(:first-child) {
    	margin-top: 2rem;
		}

		&:last-child {
			margin-bottom: 1rem;
		}

		&.posts {
			time {
				position: absolute;
		    right: .5rem;
		    top: 0.5rem;
		    font-size: 0.8rem;
		    padding: 0.5rem;
		    background: #ffffff;
		    display: block;
		    color: #8b8b8b;
		    line-height: 1;
		    text-align: right;
		    border-radius: 0.25rem !important;
		    font-weight: bold;
			}

			.title {
				padding: 1rem !important;
				
				a {
					margin-right: auto;
				}
			}

			.description {
				padding: .5rem 1rem 1rem !important;
				font-size: .9rem;
				color: grey;
			}
			
			.tags {
			  display: flex;
			  padding-top: 0;

			  a {
			  	font-size: .8rem;
			    color: #000;
			    padding: .25rem .3rem;
			    border: 1px solid #dedede;
			    border-radius: .25rem;
			  
					&:not(:last-child) {
					  margin-right: .5rem;
					}
			  }
			}
		} 
	}

	.card {
		border: 1px solid #f7f7f7 !important;
    border-radius: .5rem !important;
		background: linear-gradient(100deg, white, #fdfdfd) !important;
		
		img {
		  border-radius: .25rem .25rem 0 0;
		}

		.title a {
			display: block;
		}

		&:hover {
		  img {
		    filter: brightness(0.9);
		  }
		}

		.rating {
			font-size: 1.2rem;
		}
	}

	.content {
		@extend .borderless;
		padding: .5rem 1rem;

		&.p-1-hf {
		  border-top: 1px solid #f1f1f1 !important;
		}

		&.cover {
			position: relative;

			.ui.buttons {
				visibility: hidden;
				position: absolute;
				width: 200px;
				display: flex;
				top: calc(50% - 16px);
				left: calc(50% - 100px);

				.button {
					border: none;
					background: rgba(255, 255, 255, 0.8) !important;
					font-weight: bold;
					text-transform: uppercase;
					color: #000 !important;
					padding: .75rem .25rem;
					border-radius: .25rem !important;

					&:hover {
						background: #fff !important;
					}
				}
			}

			&:hover {
				.ui.buttons {
					visibility: visible;
				}
			}
		}
	}

	.bottom {
    padding: 0.5rem !important;
	}

	.title {
		color: #292929;
		font-weight: 600;
		padding: 1.5rem 1rem !important;
		text-align: center;
		height: 100%;
		align-items: center;
    justify-content: center;
    display: flex;
		background: #ffffff !important;
		
		> div {
			text-align: center;
			margin: auto;
		}

    a {
    	max-width: 250px;
    	margin: auto;
    }
	}

	.price, .category {
	    font-size: 1rem;
	    padding: .5rem 0.75rem;
	    background: linear-gradient(45deg, #ff5757, #ff5757, #ef3434);
	    font-weight: bold;
	    color: #fff;
	    display: block;
	    float: left;
	    border-radius: .25rem;
	    cursor: default;
	    position: relative;
	    line-height: 1;
	    min-width: 73px;
    	text-align: center;
	}

	.category {
		font-size: 1rem;
		color: #000;
    text-align: center;
    display: inline-block;
    margin: 1rem auto 0;
    float: none;
    padding: 0.75rem 1rem;
    border-radius: 100px;
    background: #ffeb60;
	}

	.price.free {
		background: linear-gradient(45deg, #009688, #009688, #007b70);
	
		&.paid {
			&::after, &::before {
			  position: absolute;
			  content: '';
			  left: 50%;
			  bottom: 0;
			  height: 100%;
			  width: 2px;
			  background: rgba(255, 255, 255, 0.45);
			  transform: rotate(45deg);
			  border-radius: 10px;
			}
		
			&::after {
				transform: rotate(-45deg);
			}	
		}
	}

	i.heart.active {
    color: #ff4646;
	}

	span.tag {
    position: absolute;
    right: .5rem;
    top: .5rem;
    padding:.1rem 0.5rem;
    color: #000;
    font-size: .9rem;
    font-weight: bold;
    background: #ffed1d;
    border-radius: .25rem;
    display: none;
	}
}

.selection-title {
	.menu {
		@extend .radiusless;
		@extend .shadowless;
		@extend .borderless;
		background: transparent;

		a:before, a:after {
			display: none;
		}

		a {
			background: transparent !important;
	    font-size: 18px;
	    position: relative;
	    color: #000 !important;
	    padding: .5rem 1rem !important;
	    border: 1px solid grey;
	    @extend .rounded-corner;


			&:not(:last-child) {
				margin-right: .5rem;
			}
			
			&:hover, &.active {
				font-weight: bold !important;
				background: transparent !important;
				color: #000;

				span {
				    position: absolute;
				    bottom: 0;
				    left: 0;
				    height: 3px;
				    width: 100%;
				    background: linear-gradient(to right, #ff4335, #ffcc31, #ffffff);
				    border-radius: 100%;
				}
			}

		}
	}
}

#notifications 
{
  margin: 0 auto !important;
  width: 100%;
  padding: 1rem;
	background: ghostwhite;
	margin-top: -1rem !important;
	
  .column 
  {
    background: white;
    border-radius: .5rem !important;

    &.items
    {
      min-height: 500px;

      .items.unstackable
      {
        background: ghostwhite;
        border-radius: .25rem;

        .item
        {
          padding: 1rem;
          text-align: left;
          border-radius: 0;
          margin: 0 !important;
          align-items: flex-end;
          min-height: 80px;
          background: #fafafa;
          
          > * {
            align-self: center;
          }

          &:not(:last-child) 
          {
            border-bottom: 2px solid white;
          }

          .image 
          {
            width: 50px !important;
            height: 50px !important;
          }

          time
          {
            color: #6f6f6f;
          }

          &.unread
          {
            background: #ffffff;
            font-weight: bold;
          }

          &:first-child {
            border-radius: .5rem .5rem 0 0;
          }

          &:last-child {
            border-radius: 0 0 .5rem 0.5rem !important;
          }
        }
      }
    }
  }
}

#footer {
	background: #FFF;
  width: 100%;
  padding-top: 1rem !important;
	z-index: 0;

  li {
  	list-style-type: none !important;
  	line-height: 1.9;
  }

  .row.first {
		max-width: 1400px;
		margin: auto;
		width: calc(100% - 1rem) !important;
		text-align: center;

		.newsletter i {
			color: #000 !important;
		}

		h4 {
			color: #ff6a00 !important;
    	text-align: center;
		}

		i {
			font-weight: bold;
		}
  	
  	input {
  		color: #000 !important;
  	}
  }

	.row.last {
		background: #007dad;
    margin-top: 1rem;
    padding: .5rem 0;

  	 * {
  	 	color: #fff !important;
  	 }

		.item {
			&:hover, &:active, &:focus {
				background: transparent !important;
				font-weight: 600;
			}
		}

		i {
    	font-size: 1.4rem;
    }
	}
}


#page-title {
	background: #fff;
  border-bottom: 1rem solid ghostwhite;
	border-radius: .25rem .25rem 0 0;

	.header {
		color: #000;
	}

	.item .content {
		-webkit-align-self: center;
		align-self: center;
	}
}

#items {
  padding: 0 1rem;
  background: ghostwhite;
	
	i.tag {
		color: tomato;
	}

	.row {
		background: #fff;

		&:nth-child(1) {
			border-bottom: 1rem solid ghostwhite;

			.sub.header	{
    		line-height: 1.5;
			}
		}
	}

	.column {
		&.left {
			visibility: visible;
			width: 250px;
	    max-width: 250px;
			z-index: 2;

			.categories {
				.title {
					background: #ffd84c;
					color: #000;
					font-weight: bold;
			    text-transform: uppercase;
			    padding: 0.75rem;
			    margin-bottom: 1rem;
			    text-align: center;
			    border-radius: 0.25rem;
				}

				.header {
				  border-bottom: 1px solid #e5e5e5;
				  text-transform: uppercase;
				}

				.category {
					.children {
						display: none;
					}

					&.active {
						.children {
							display: block;
							position: relative;
							
							.wrapper {
							  max-height: 200px;
							}

							a {
								&.active {
									background: ghostwhite;
								}

								&:not(.active):hover {
									background: #fff;

									span {
										display: inline-block;
										padding: .5rem;
										margin: -.5rem;
										background: ghostwhite;
									}
								}
							}

							&:after {
							  position: absolute;
							  content: '';
							  bottom: 0;
							  left: 0;
							  width: 100%;
							  height: 1px;
							  background: #e2e2e2;
							}
						}

						.header {
							span {
						    padding: .5rem;
						    display: inline-block;
						    background: #ff4e4e;
						    margin: -.5rem;
						    border-radius: .25rem;
						    color: #fff;
							}
						}
					}
				}
			}

			.random-items {
				.title {
				  font-weight: bold;
				  text-transform: uppercase;
				  padding: .75rem;
				  margin-bottom: 1rem;
				  background: steelblue;
				  text-align: center;
				  border-radius: .25rem;
				  color: #fff;
				}
				
				.wrapper {
					max-height: 400px;
					visibility: hidden;
				}

				.item {
				  display: flex;
				  align-items: center;
			    border-radius: .25rem;
			    background: ghostwhite;
			    padding: .25rem;
					
					&:hover {
					  color: #000;
					  background: #efefef;
					}

			    &:not(:last-child) {
						margin-bottom: .5rem;
			    }
					
					img {
						@extend .rounded-corner;
					}

				  div {
				  	&:first-child {
						  width: 60px;
						  padding: .25rem;
						  margin-right: .25rem;
						  display: flex;
						}
						
						h3 {
						  font-size: 1rem;
						}

						&:nth-child(2) {
						  flex: 1;
						}

						&:nth-child(3) {
							font-size: 0.7rem;
							font-weight: bold;
							margin-left: 0.25rem;
							align-self: flex-end;
							
							span {
						    display: block;
						    padding-right: .25rem;
							}
						}
				  }
				}
			}
		}

		&.right {
			flex: 1;
			min-height: 500px;

			.filter.menu {
		    height: 44px;

		    > .item:hover {
					background: transparent;
			    font-weight: bold;
			    color: #104c7e;
		    }
			}

			.divider {
				border-color: #f3f3f3 !important;
				border-width: .5px;
			}

			.cards {
				.card {
					border: 1px solid #ececec;
					border-radius: .35rem !important;
					
					&:hover {
						img {
							filter: brightness(0.95);
						}
					}

					.title {
						color: rgb(41, 41, 41);
						font-weight: 600;
				    height: 100%;
				    overflow: hidden;
						padding: 0.75rem 1rem !important;
				    display: flex;
				    margin: auto;
				    align-items: center;
				    text-align: center;
				    font-weight: bold;
					}

					.content.bottom {
				    justify-content: center;
				    display: flex;
				    width: 100%;

				    i.heart:hover, i.heart.active {
					    color: #ff4646;
				    }
					}
				}

				.tag {
			    top: 0.5rem;
			    right: 0;
			    position: absolute;
			    border-radius: 0.5rem 0 0 .5rem;
			    background: #1461ae;
			    padding: 0.25rem 0.5rem;
			    color: #fff;
			    font-size: .9rem;

			    a {
						color: #fff;
			    }
				}

				.price {
				  font-size: 10px;
				  color: #fff;
				  padding: 0px 0.5rem;
				  background: #828282;
    			font-weight: bold;
				  @extend .rounded-corner;
					align-self: center;
    			margin-left: auto;

				  &.free {
				  	background: #00ad50;
				  }
				}
			}
		}
	}
}



#item {
	background: ghostwhite;

	.l-side {
		flex: 1;
		background: #fff;

		.support, .reviews, .faq, .similar {
			display: none;
			min-height: 700px;
		}

		.row.menu {
			margin: 0 -1rem;
		}
		
		.top.menu {
			@extend .radiusless;
			@extend .shadowless;
			@extend .borderless;
	    margin: -1rem 0 1rem; 
	    position: relative;

	    &:before {
		    content: '';
		    position: absolute;
		    left: 0;
		    bottom: 0;
		    width: 100%;
		    height: 1px;
		    background: #eaeaea;
			}
			
			.item.dropdown {
				display: none;
			}

			.active.item {
				background: silver;
				color: #fff;
			}
		}

		.item {

			.cover {
				position: relative;
				margin: -1rem;

				.ui.image {
					padding: 1rem;
					border-bottom: 1px solid #e3e3e3;
					border-radius: .25rem;
				}
				
				.actions {
					position: absolute;
					bottom: 2rem;
					left: 2rem;

					a {
						padding: .5rem 1rem;
						color: #fff;
						-webkit-border-radius: .25rem;
						-moz-border-radius: .25rem;
						-ms-border-radius: .25rem;
						-o-border-radius: .25rem;
						border-radius: .25rem;
						cursor: pointer;

						&:hover {
	    					font-weight: 600;

	    					i {
	    						font-weight: bold;
	    					}
	    				}
					}
				}

				#live-preview {
					left: 1rem;
					background: #ff4949 !important;
			    background: linear-gradient(45deg, #ff5757, #ff5757, #ef3434) !important;
			    background: -moz-linear-gradient(to right, #ff7272, #ff5c5c, #ff4949) !important;
			    background: -ms-linear-gradient(to right, #ff7272, #ff5c5c, #ff4949) !important;
			    background: -o-linear-gradient(to right, #ff7272, #ff5c5c, #ff4949) !important;
			    background: linear-gradient(to right, #ff7272, #ff5c5c, #ff4949) !important;
			    color: #fff;
					font-weight: bold;
					display: block;

					&:hover {
					    background: #bf1f1f !important;
					    background: linear-gradient(to right, #ff7272, #ff5c5c, #bf1f1f) !important;
					}
				}
			}

			.card {
				@extend .radiusless;
				@extend .shadowless;
				//border: 1px solid #e4e4e4;

				.content.title {
					position: relative;

					span {
						position: absolute;
						width: 100%;
						height: 3px;
						left: 0;
						bottom: 0;
						background: -webkit-linear-gradient(to right, #d4d4d4, #ffffff, #ffffff);
						background: -moz-linear-gradient(to right, #d4d4d4, #ffffff, #ffffff);
						background: -ms-linear-gradient(to right, #d4d4d4, #ffffff, #ffffff);
						background: -o-linear-gradient(to right, #d4d4d4, #ffffff, #ffffff);
						background: linear-gradient(to right, #d4d4d4, #ffffff, #ffffff);
					}

					.header {
						font-size: 1.1rem !important;
					    position: relative;
					    top: 2px;
					    color: #737373;
					    margin-bottom: 0;
					    display: inline-block;

					    &:nth-child(even) {
								float: right;
								position: relative;
								top: 5px;
					    }
					}
				}

				.content {
					border-top: none;

					&.features.body, &.requirements.body {
						img {
							width: auto;
						}
					}
				}

				img {
					width: 100%;
				}
			}
		}
	
		.reviews
		{
			textarea
			{
				height: 80px;
				min-height: 80px;
			}

			.items
			{
				border-radius: .5rem;
				border: 1px solid #ededed;

				h3
				{
					margin-bottom: .25rem;
					text-transform: capitalize;
					font-size: 1.1rem;
				}

				.item:not(:last-child) 
				{
					border-bottom: 1px solid #ffffff;
				}

				.item
				{
					display: flex;
					padding: 1rem !important;

					.content 
					{
						padding-left: 1rem;
						flex: 1;
					}

					.ui.label
					{
						padding: .25rem .35rem;
						font-weight: normal;
					}
				}

				.ui.form
				{
					padding: 1rem 0 0 !important;
					border-top: 1px solid #e1e1e1;

					.ui.rating
					{
						font-size: 1.2rem;
					}
				}

				&:not(:first-child)
				{
					margin-top: 1rem;
				}
			}

			.ui.image
			{
				width: 100%;
				max-width: 60px;
				height: 100%;
			}
		}

		.support
		{
			textarea
			{
				height: 80px;
				min-height: 80px;
			}

			.comments-wrapper
			{
				border-radius: .5rem;
				border: 1px solid #ededed;

				h3
				{
					margin-bottom: .25rem;
					text-transform: capitalize;
					font-size: 1.1rem;
				}

				.item:not(:last-child) 
				{
					border-bottom: 1px solid #ffffff;
				}

				.parent, .children
				{
					display: flex;
					padding: 1rem;

					.content 
					{
						padding-left: 1rem;
						flex: 1;
					}
				}

				&:not(:first-child)
				{
					margin-top: 1rem;
				}

				.children
				{
					padding-left: 2rem;
					border-top: 0;
					background: ghostwhite;

					.ui.image {
						max-width: 50px;
					}
				}
			}

			.ui.image
			{
				width: 100%;
				max-width: 60px;
			}
		}

		.card {
			.content.images {
				.ui.grid {

				}

				.column {
					width: auto !important;
					cursor: default;

					span {
						padding: 0 .5rem;
						border: 1px solid #ebebeb;
						display: flex;
						margin-right: -1rem;
						text-align: center;
						width: 100px;
				    height: 100px;
				    overflow: hidden;
				    flex-direction: column;
    				justify-content: center;
					}

					img {
						height: auto;
    				width: auto;
						cursor: pointer;
					}
				}
			}
		}

		.overview {
			img {
				width: 80% !important;
				max-width: fit-content;
				margin: auto;
				display: block;
			}
		}

		.similar {
			.card {
		    box-shadow: 0 0 2px 0px grey !important;
				border-radius: .25rem !important;

				.title {
					color: #292929;
			    font-weight: 600;
			    height: 100%;
			    overflow: hidden;
			    padding: 0.75rem 1rem !important;
			    display: -webkit-box;
			    display: flex;
			    margin: auto;
			    -webkit-box-align: center;
			    align-items: center;
			    text-align: center;
			    font-weight: bold;
				}
				
				.tag {
			    top: 0.5rem;
			    right: 0;
			    position: absolute;
			    border-radius: 0.5rem 0 0 0.5rem;
			    background: linear-gradient(45deg, #004c89, rgba(0, 0, 0, 0.77));
			    padding: 0.25rem 0.5rem;
			    color: #fff;
			    font-size: 0.8rem;

				  a {
					  color: #fff;
					}
				}

				.price {
				  font-size: 10px;
				  color: #fff;
				  padding: 0px 0.5rem;
				  background: #828282;
				  font-weight: bold;
				  align-self: center;
				  margin-left: auto;
				  border-radius: 0.25rem;
				}

				.content.bottom {
				  justify-content: center;
				  display: flex;
				  width: 100%;
				  border-top: 1px solid #eaeaea !important;
				}

				img {
					border-radius: .25rem .25rem 0 0 !important;
				}

				&:hover img {
			    filter: brightness(0.9);
				}
			}
		}

		#files-list {
			min-height: 700px;

			.item {
			  display: flex;
			  align-items: center;

			  &:not(:last-child) {
				  margin-bottom: .5rem;
				}
			}

			.file-icon {
			  width: 60px;
			  height: 60px;
			  display: flex;
			  justify-content: center;
			  align-items: center;
			  padding: .5rem;
			  color: white;
			  background: #00b9a8;
			  border-radius: .5rem 0 0 .5rem;
			}

			.file-name {
			  display: flex;
			  flex: 1;
			  height: 60px;
			  align-items: center;
			  padding: .5rem 1rem;
			  text-transform: capitalize;
			  background: ghostwhite;
			  -webkit-border-radius: 0 .5rem .5rem 0;
			  -moz-border-radius: 0 .5rem .5rem 0;
			  border-radius: 0 .5rem .5rem 0;
			  font-weight: bold;
			}
		}
	}

	.r-side {
		visibility: visible;
		width: 300px;
		background: #fff;

		.card {
			&.free {
    		background: ghostwhite;

    		.button {
			    border: none;
			    width: 100%;
			    margin: 0 !important;
			    box-shadow: none !important;
			    border-top: 1px solid #d9d9d9;
			    background: #eaeaea !important;
			    color: #000 !important;

			    &:hover {
					  font-weight: bold;
					}
    		}
			}

			&.paid {
				background: ghostwhite;

				.icons {
			    margin-top: .75rem;
			    text-align: center;
			    padding: .25rem;
			    background: #fff;
			    border: 1px solid #dddddd;

					i {
				    font-size: 2.5rem;
				    line-height: 1;
				    color: #1f374e;
					}
				}
			}
		}

		.item-info {
			@extend .borderless;
			background: ghostwhite;
			word-break: break-all;

			tr td:nth-child(odd) {
			    width: 40%;
			}
		}

		.share-on .header {
		    position: relative;

		    &:after {
			    content: '';
			    position: absolute;
			    left: 0;
			    bottom: 0;
			    height: 3px;
			    width: 100%;
			    background: -webkit-linear-gradient(to left, white, #3881a2, white);
			    background: -moz-linear-gradient(to left, white, #3881a2, white);
			    background: -ms-linear-gradient(to left, white, #3881a2, white);
			    background: -o-linear-gradient(to left, white, #3881a2, white);
			    background: linear-gradient(to left, white, #3881a2, white);
			}
		}
	}
}

#user-notifications {
	.item {
	    display: flex;
	    margin: 0;
	    position: relative;

	    &:not(:last-child):after {
	    	position: absolute;
	    	content: '';
	    	width: 100%;
	    	height: 1px;
	    	bottom: 0;
	    	left: 0;
			background: #f7f7f7;
		    visibility: visible;
	    }

	    .image {
		    width: 40px !important;
		}

		.date {
		    color: #949292;
		}

		.content {
		    font-size: 12px;
		    text-overflow: ellipsis;
		    overflow: hidden;
		    white-space: nowrap;
		}

		strong {
		    color: steelblue;
		}
	}
}


#user-profile {
	background: ghostwhite;

	.column {
		background: white;
	}

	.secondary.menu {
		background: #f2f2f6;
	}

	.header {
		color: #fff;
    background: #2196F3;
    font-size: 1rem;
    padding: .25rem .5rem;
    border-radius: .25rem;
    line-height: 1;
	}
	
	.ui.items {
		.content {
			align-self: stretch;
	    padding-top: 0.5rem;
		}
	}

	.ui.image, .ui.image img {
		width: 110px !important;
		cursor: pointer;
	}

	table.password {
		display: none;
	}

	.ui.menu {
		.item {
			&.active {
				background: tomato;
				color: #fff;
				font-weight: bold;
			}
		}
	}
}


#user-downloads {
	background: #fff;
	min-height: 400px;

	.items .header {
		font-size: 1rem;
	}
	
	.wrapper {
		overflow-x: auto ;
	  max-width: 100vw;
	}
	
	tr td:nth-child(1) {
    width: 80px !important;
	}

	table {
		.button {
			width: 150px;
		}
	}

	.ui.image {
		position: relative;
		margin: 0;

		img {
			height: 40px;
    	width: auto;
		}
		span {
	    position: absolute;
	    padding: 0 .5rem;
	    right: 0.25rem;
	    top: 0.25rem;
	    background: #00628e;
	    border-radius: .2rem .2rem .2rem .5rem;
	    font-size: 11px;
	    color: #fff;
		}
	}
}

#user-directory {
	background: #fff;
	min-height: 400px;

	.items .header {
		font-size: 1rem;
	}
	
	.card {
  	border: 1px solid #efefef;
  	width: -webkit-calc(16.66666667% - 1rem);
  	width: calc(16.66666667% - 1rem);

  	&:hover {
		  border: none;
		}

  	.header {
		  text-transform: capitalize;
		  color: #5a5a5a;
		  white-space: nowrap;
		  text-overflow: ellipsis;
		  overflow: hidden;
		}

  	.content {
    	&:first-child {
			  background: #f6f6f6;
			  font-weight: bold;
			  padding: 1rem;
			}

			&:last-child {
			  background: #0077bc;
			  color: #fff;
			  font-weight: bold;
			  font-size: 1.1rem;
			  padding: 1rem;
			  height: 47px;

			  &:hover {
			    background: #005180;
				}
			}
  	}
	}

	.ui.image {
		position: relative;
		margin: 0;

		img {
			height: 40px;
    	width: auto;
		}
		span {
	    position: absolute;
	    padding: 0 .5rem;
	    right: 0.25rem;
	    top: 0.25rem;
	    background: #00628e;
	    border-radius: .2rem .2rem .2rem .5rem;
	    font-size: 11px;
	    color: #fff;
		}
	}
}

#user-favorites {
	background: #fff;
	min-height: 400px;

	.wrapper {
		overflow-x: auto;
	}

	table {
		img {
			height: 40px;
    	width: auto;
		}

		tr td:nth-child(1) {
	    width: 80px !important;
		}
	}
}

#user {
	&.segment.title {
    margin: -1rem -1rem 1rem;
    background: #ffc04a;

    &.lightblue {
    	background: lightblue;
    }

    &.steelblue {
    	background: steelblue;
    }

    &.lightred {
    	background: #ff766c;
    }

    .header {
    	color: #fff;
  		font-size: 1.5rem;
    }
	}
}

#item-r-side-toggler a {
	background: linear-gradient(45deg, tomato, tomato, #ff826c);
  color: #fff;
  font-weight: 600;
  width: 70px;
  justify-content: center;
}


#checkout-page {
	min-height: 300px;
	background: ghostwhite;

	.table-wrapper {
		overflow-x: auto;
	}

	.column {
		background: #fff;

		&.left {
			flex: 1;

		  img {
			  max-width: 60px;
			}

			input {
			  border: 1px solid #cfcccc;
			  padding: .5rem;
			  width: 100%;
			  @extend .rounded-corner;
			  text-align: right;
			}
			
			td {
				span {
					cursor: pointer;
				}
			}
			
			th {
				padding: 1rem .5rem;
				
				&.total, &.unit-price {
					min-width: 120px;
			  }
			}

			th:nth-child(1), td:nth-child(1)
			{
				padding: 0;
			}

			tfoot th {
			  background: #fafafa;
				text-align: center;
				font-weight: bold;
			}
		}

		&.right {
			max-width: 300px;
			width: 100%;
			margin-left: auto;
		}
	}
}


#checkout-messages {
	min-height: 300px;

	a {
    color: black;
    padding: .25rem .5rem;
    margin: 0 .25rem;
    background: #ffbf00;
    font-weight: bold;
    border-radius: .25rem;
	}
}

#cart-checkout {
	.card {
		border: 1px solid #dadada;
    border-radius: .25rem !important;
    background: ghostwhite;

    >.content {
    	&:nth-child(2), &:last-child {
    		background: #fff;
    	}
    }
	}


	.payment-methods {
		.items {
			@extend .rounded-corner;
		  background: #fff;
		  border: 1px solid #ebebeb;
		}

		.item {
			align-items: center;
			cursor: pointer;
			padding: .5rem .75rem !important;
			margin: 0 !important;
			
			&:not(:last-child) {
			  border-bottom: 1px solid #efefef;
			}

			&:hover, &.active {
				background: #ebebeb;
			}

			.content {
				&:nth-child(even) {
					flex: 1;
				}

				&:nth-child(odd) {
				  max-width: 40px !important;
				}
			}

			i {
			  font-size: 1.5rem;
			}
		}
	}
}


.dropdown-wrapper {
	@extend .d-flex;

	.ui.dropdown {
	  flex: 1;
	  max-width: 170px !important;
	  min-width: 170px !important;
	  text-overflow: ellipsis;

	  .text {
		  overflow: hidden;
		  white-space: nowrap;
		  text-overflow: ellipsis;
		  max-width: 120px;
		}
	}

	.ui.button {
		flex: 1;
	}
}



#coupon-form {
	div {
		border: 1px solid #e9e9e9;
	  @extend .rounded-corner;
	  margin-bottom: 1rem;
	  @extend .d-flex;
	  align-items: center;
	}

	input {
	  border: none;
	  padding: .75rem;
	  flex: 1;
	  border-right: 1px solid #e9e9e9;
	  height: 40px;
	  max-width: 175px;
	}

	span {
	  text-align: center;
	  padding: .25rem .4rem;
	}

	a {
	  padding: .35rem .5rem;
	  display: block;
	  border-radius: .15rem;
	  background: tomato;
	  color: #fff;
	  font-weight: bold;

	  &.reset {
	  	background: linear-gradient(45deg, #5b9dd4, #599ad0, #4679a4);

			&:hover {
				background: linear-gradient(45deg, #5b9dd4, #599ad0, #4679a4);
			}
		}

	  &:not(.reset):hover {
	  	background: linear-gradient(45deg, #ff7d66, #ff6b50, #ff5436);
		}
	}
}


#support {
	background: ghostwhite;
  padding: 0 1rem;
	
	.title-wrapper {
    background: ghostwhite;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: .5rem;
	}

	.column {
		background: #fff;

		&.left {
			flex: 1;
			
			.segments {
				.segment {
					cursor: pointer;

					&:not(:last-child) {
						border-bottom: 1px solid gainsboro !important;
					}

					p {
						margin: 0;
					}

					div {
						margin-top: 1rem;
					}
				}
			}
		}

		&.right {
			width: 300px;

		}
	}
}


#posts {
  background: ghostwhite;
  padding: 0 1rem;

	.column {
		background: #fff;

		&.left {
			flex: 1;
			min-height: 80vh;

			.segment.filter {
				background: ghostwhite;
    		border: 0;

				.label {
					text-transform: capitalize;

					i.times {
						cursor: pointer;

						&:hover {
							color: #000 !important;
						}
					}
				}
			}

			.card {
				box-shadow: 0 0 8px 1px whitesmoke !important;

				img {
					border-radius: 0.25rem 0.25rem 0 0;
				}

				&:hover {
					img {
					  filter: brightness(0.9);
					}
				}

				time {
					position: absolute;
			    right: .5rem;
			    top: 0.5rem;
			    font-size: 0.8rem;
			    padding: 0.5rem;
			    background: #ffffff;
			    display: block;
			    color: #8b8b8b;
			    line-height: 1;
			    text-align: right;
			    border-radius: 0.25rem !important;
			    font-weight: bold;
				}

				.title {
					padding: 1rem !important;
					font-weight: bold;
					color: #292929;
					height: 100%;
					background: #fdfdfd !important;

					a {
						max-width: 250px;
						margin-right: auto;
					}
				}

				.description {
					padding: .5rem 1rem 1rem !important;
					font-size: .9rem;
					color: grey;
				}
				
				.tags {
				  display: flex;
				  padding-top: 0;

				  a {
				  	font-size: .8rem;
				    color: #000;
				    padding: .25rem .3rem;
				    border: 1px solid #dedede;
				    border-radius: .25rem;
				  
						&:not(:last-child) {
						  margin-right: .5rem;
						}
				  }
				}

				.content {
					@extend .borderless;
				}
			}

			&.post {
				.post-title {
					padding: 1rem;
					margin: -1rem -1rem 1rem;
					background: #008bff;
					color: #fff;

					h1 {
						margin: 0 !important;
						text-transform: capitalize;
						font-size: 1.8rem;
						font-weight: normal;
					}

					p {
						margin-top: .25rem;
					}
				}
				
				.social-buttons {
					margin-bottom: 1rem;
					border: 1px solid #e1e1e1;
					border-radius: .25rem;
				}
			}
		}

		&.right {
			width: 300px;

			.items-wrapper {
				.item:not(:last-child) {
					margin-bottom: 1rem;
					padding-bottom: 1rem;
					border-bottom: 1px solid #e4e4e4;
				}

				.items-title {
					border-radius: 0.25rem 0.25rem 0 .5rem;
    			margin-bottom: 1rem;
			    position: relative;
			    z-index: 1;
    			background: #fff;

			    h3 {
						padding: 0.75rem 1rem;
				    margin: 0 !important;
				    border-left: 3px solid #0095ff;
				    text-transform: uppercase;
				    font-weight: bold;
				    font-size: 17px;
				    background: linear-gradient(45deg, #ffffff, #fdfdfd, rgba(230, 230, 230, 0.18));
				    border-radius: .25rem .25rem .25rem .5rem;
				    text-align: right;
				    color: #909090;
			    }
				}

				img {
				  float: left;
				  max-width: 98px;
				  margin-right: .5rem;
				}

				a {
				  font-size: .9rem;
				  font-weight: bold;
				  position: relative;
				  top: -4px;

				  &.tag {
						padding: .5rem;
						display: inline-block;
						margin: 0 .1rem .3rem 0;
						border: 1px solid grey;
						border-radius: .5rem;

						&:hover {
					    color: #fff;
					    background: #ff4c3f;
					    border-color: #ff4c3f;
						}
					}
				}

				p {
				  font-size: .8rem;
				  text-align: left;
				}
			}
		}
	}
}

#posts-search {
  padding: 1rem;
  margin: -1rem;
  border-bottom: 1px solid #f1f1f1;
}

#screenshots {
	width: fit-content;

	img {
    max-height: 90vh;
	}

	div.left, div.right {
    position: absolute;
    height: 100%;
    width: 40px;
    background: transparent;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
	}

	div.right {
    right: 0;
    left: auto;
	}

	button {
    background: transparent;
    color: #000;
    border-radius: 0;
	}
}

#preview
{
  overflow: hidden;

	#app {
		padding-top: 60px;
	}

  .ui.grid
  {
    min-height: calc(100vh - 60px);
	}
	
	#top-menu.preview .right.menu .item:first-child {
    padding: .75rem;
    background: #ffe047;
		color: #000;
		height: auto;
	}

  iframe
  {
    padding: 0;
    width: 100%;
    visibility: hidden;
  }
}












@media (max-width: 1440px) {
	#top-search .categories.large .label:nth-child(-n+5) {
    display: none;
	}
}


@media (max-width: 1280px) {
	#top-search .categories.large .label:nth-child(-n+10) {
    display: none;
	}
	
	#items .left.column {
  	position: absolute;
    background: #fff;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1;
    visibility: hidden;
		overflow: hidden;
		display: none;
  }
}


@media (max-width: 1100px) {
	#top-search .categories.large .label:nth-child(-n+15) {
		display: none;
	}

	#top-menu {
		.right.menu {
			.text {
				display: none;
			}

			.item {
				margin: 0 .15rem !important;
				
				i {
					margin: 0;
				}
			}
		}
	}

	#user-directory .card {
		width: -webkit-calc(25% - 1rem);
		width: calc(25% - 1rem);
	}
}

@media (min-width: 1025px) {
  .mobile-only {
		display: none !important;
	}

	#mobile-menu, #blur {
		visibility: hidden !important;
	}

	html {
		overflow: visible !important;
	}
}

@media (max-width: 1024px) {
	#item .r-side {
		display: none;
		position: absolute;
		right: 0;
		top: 65px;
		z-index: 2;
	}

	.desktop-only {
		display: none !important;
	}


  #checkout-page {
	  .column.right, .column.left {
			width: 100% !important;
	  }

	  .column.right {
			margin-left: auto !important;
		  margin-right: 0 !important;
		}

	  th:nth-child(2), td:nth-child(2) {
		  border-left: 0;
		}
	}
}


@media (max-width: 768px) {
	#top-search .categories.large .label:nth-child(-n+20) {
		display: none;
	}

	#support {
		.column {
			&.right {
				display: block;
				width: 100%;
				margin-top: 1rem;
			}
		}
	}

	#footer {
		margin: 0 !important;
	}

	#user-directory .card {
		width: -webkit-calc(33.33333333333333% - 1rem);
		width: calc(33.33333333333333% - 1rem);
	}
}


@media (max-width: 680px)
{
	#top-menu {
		> .right.menu .item.search-icon {
			display: flex;
		}

		> .item.search {
			display: none;
		}
	}

	#mobile-search-bar {
		display: flex;
	}

	#posts {
		.social-buttons {
			i {
				margin-right: 0 !important;
			}

			span {
				display: none;
			}
		}
	}

	#top-menu .dropdown {
		&.cart, &.notifications {
			.toggler span {
				display: block;
			}
		}
	}
}


@media (max-width: 570px)
{
	#items .ui.four.doubling.cards {
		padding: 1 !important;
	}

	#top-menu {
		.right.menu {
			padding-right: 0 !important;

			> .item {
				&.blog, &.help, &.categories, &.collection {
					display: none;
				}
			}
		}
	}

	#user-directory .card {
		width: -webkit-calc(50% - 1rem);
		width: calc(50% - 1rem);
	}
}


@media (max-width: 520px) {
	#top-search .categories.large .label:nth-child(-n+25) {
		display: none;
	}

	#items .search.item {
		display: none;
	}

	#items .left-column-toggler {
		margin-left: auto;
	}

	.ui.doubling.cards {
		display: block;
		padding: 1rem !important;

		.card {
			display: block;
			width: 100% !important;
			margin: 0 !important;

			&:not(:first-child) {
				margin-top: 1rem !important;
			}

			.content.title {
			    white-space: normal !important;
			    overflow: visible;
			    text-overflow: initial;
			    text-align: left;
			    width: 100%;
			    display: block;
			}
		}
	}
	
	#page-title {
		.column {
    	width: 100% !important;
		}

		.content {
    	padding: 0;
		}

		.image {
    	display: none;
		}
	}

	#item .l-side .top.menu {
		.item.dropdown {
			display: flex;
		}

		.tabs {
			display: none !important;
		}
	}

	#item
  {
    .reviews, .support
    {
      .ui.image
      {
        display: none;
      }

      .content
      {
        padding-left: 0 !important;
      }
    }
	}
	
	.home-items .ui.four.doubling.cards {
		margin: 0 !important;
	}
}

@media (max-width: 510px)
{
	
}

@media (max-width: 480px)
{
	#top-menu {
		.header.logo {
			padding-left: 0 !important;
		}

		.dropdown.cart {
			position: relative;

			.menu {
				position: fixed;
				width: 100%;
				margin-top: 0px;
				top: 70px !important;
				left: 0px !important;

				.items .item {
					width: 100% !important;
				}
			}
		}
		
		> .right.menu .item {
			padding-left: .5rem !important;
			padding-right: .5rem !important;
			margin: 0 !important;

			&:last-child {
				margin-right: 1rem !important;
				padding-right: 0 !important;
			}
		}
	}

	#item .l-side .reviews .item.parent .content:first-child {
		div.right {
		  position: absolute;
		  top: 3.5rem;
		  left: 0;
		  display: block;
		  width: 100%;

		  span {
				padding: .25rem;
				margin-right: .5rem;
				background: #ffffff;
				font-size: .7rem;
				font-weight: bold;
				border-radius: .25rem;
		  }
		}

		.middle {
			padding: 0 0 0 1rem;
		}
	}

	#item .l-side .support .item.parent .content:first-child {
		.middle {
			white-space: nowrap;
	    width: 100%;
		}

		.right {
	    position: absolute;
	    right: .5rem;
	    top: .5rem;

	    span {
		    padding: .1rem .25rem;
		    background: white;
		    border-radius: .25rem;
		    font-size: .7rem;
		    white-space: nowrap;
	    }
		}
	}

	#posts {
		.social-buttons {
			button {
				padding-left: .25rem;
				padding-right: .25rem;
			}
		}
	}
}

@media (max-width: 400px) {
	#checkout-page .column.right {
		max-width: 100%;
	}

	#top-menu {
		.dropdown {
			&.notifications {
				.menu {
					left: -150px !important;
				}
			}
			&.cart { 
				.menu {
					left: 20px !important;
				}
			}
		}
	}

	#user-directory .card {
		width: 100%;
	}
}