$grid-gutter-width: 30px !default;

$grid-breakpoints: (
  xs: 0,
  sm: 768px,
  md: 992px,
  lg: 1200px
) !default;
$spacer:   $grid-gutter-width * .5 !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;
$spacers: (
  0: (
    x: 0,
    y: 0
  ),
  1: (
    x: $spacer-x * 1,
    y: $spacer-y * 1
  ),
  2: (
    x: $spacer-x * 2,
    y: $spacer-y * 2
  ),
  3: (
    x: $spacer-x * 3,
    y: $spacer-y * 3
  ),
  4: (
    x: $spacer-x * 4,
    y: $spacer-y * 4
  ),
  5: (
    x: $spacer-x * 5,
    y: $spacer-y * 5
  ),
  '1-qt': (
    x: $spacer-x * .25,
    y: $spacer-y * .25
  ),
  '1-hf': (
    x: $spacer-x * .5,
    y: $spacer-y * .5
  )
) !default;


// **************************** Ported mixins ********************************
@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
  $min: map-get($breakpoints, $name);
  @return if($min != 0, $min, null);
}
@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}


//
// ****************************** _spacing.scss ******************************
// https://github.com/twbs/bootstrap/blob/v4-dev/scss/utilities/_spacing.scss

// Width and height

.w-100 { width: 100% !important; }
.h-100 { height: 100% !important; }

.mw-100 { max-width: 100% !important; }
.mh-100 { max-height: 100% !important; }

// Margin and Padding

.mx-auto {
  margin-right: auto !important;
  margin-left:  auto !important;
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @each $prop, $abbrev in (margin: m, padding: p) {
    @each $size, $lengths in $spacers {
      $length-x:   map-get($lengths, x);
      $length-y:   map-get($lengths, y);

      @include media-breakpoint-up($breakpoint) {
        $min: breakpoint-min($breakpoint, $grid-breakpoints);

        @if $min {
          // everything else
          .#{$abbrev}-#{$breakpoint}-#{$size}  { #{$prop}:        $length-y $length-x !important; }
          .#{$abbrev}t-#{$breakpoint}-#{$size} { #{$prop}-top:    $length-y !important; }
          .#{$abbrev}r-#{$breakpoint}-#{$size} { #{$prop}-right:  $length-x !important; }
          .#{$abbrev}b-#{$breakpoint}-#{$size} { #{$prop}-bottom: $length-y !important; }
          .#{$abbrev}l-#{$breakpoint}-#{$size} { #{$prop}-left:   $length-x !important; }
          .#{$abbrev}x-#{$breakpoint}-#{$size} {
            #{$prop}-right:  $length-x !important;
            #{$prop}-left:   $length-x !important;
          }
          .#{$abbrev}y-#{$breakpoint}-#{$size} {
            #{$prop}-top:    $length-y !important;
            #{$prop}-bottom: $length-y !important;
          }
        } @else {
          // xs
          .#{$abbrev}-#{$size}  { #{$prop}:        $length-y $length-x !important; }
          .#{$abbrev}t-#{$size} { #{$prop}-top:    $length-y !important; }
          .#{$abbrev}r-#{$size} { #{$prop}-right:  $length-x !important; }
          .#{$abbrev}b-#{$size} { #{$prop}-bottom: $length-y !important; }
          .#{$abbrev}l-#{$size} { #{$prop}-left:   $length-x !important; }
          .#{$abbrev}x-#{$size} {
            #{$prop}-right:  $length-x !important;
            #{$prop}-left:   $length-x !important;
          }
          .#{$abbrev}y-#{$size} {
            #{$prop}-top:    $length-y !important;
            #{$prop}-bottom: $length-y !important;
          }
        }

      }
    }
  }
}