// Font
@font-face {
	font-family: 'Armata';
	src: url(../../public/assets/fonts/Armata/Armata-Regular.ttf);
}

html, body, span , div, h1, h2, h3, h4, h5, h6, select, input, textarea, button, a {
    font-family: 'Armata', sans-serif;
}

// Semantic-UI
@import '~semantic-ui-sass/semantic-ui';

// Css Spacing Selectors
@import './spacing';

[v-cloak] {
  display: none;
}

h2 {
  font-size: 1.5rem;
}

a {
  opacity: 1 !important;
  color: #000;
}
.button.basic.white {
  background: #fff !important;
}
.capitalize {
text-transform: capitalize;
}
.uppercase {
text-transform: uppercase;
}
.center.aligned {
text-align: center !important;
}
.left.aligned {
text-align: left !important;
}
.right.aligned {
text-align: right !important;
}
.justify.aligned {
text-align: justify !important;
}
.bg-ghostwhite {
  background: ghostwhite !important;
}
html,
body {
  background: ghostwhite;
  position: relative;
  overflow: hidden;
}

input {
&.error {
  background: #FFF6F6 !important;
  border-color: #E0B4B4 !important;
  color: #9F3A38 !important;
}
}

.main.container {
  width: 100% !important;
  background: #fff;
  max-width: 1600px !important;
  margin: 0 auto !important;
}

.ui.celled.grid>.column:not(.row),
.ui.celled.grid>.row>.column,
.ui.celled.grid>.row {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.yellow {
  background: #ffc72b !important;
  color: #000 !important;
  &:hover {
      background: #ffc114 !important;
  }
}

.bold {
font-weight: bold;
}

.disabled {
pointer-events: none;
}

a.item.loading {
position: relative;
cursor: default;
text-shadow: none!important;
color: transparent!important;
opacity: 1;
pointer-events: auto;
-webkit-transition: all 0s linear,opacity .1s ease;
transition: all 0s linear,opacity .1s ease;
background: #fbfbfb !important;
pointer-events: none;

&:after {
  position: absolute;
  content: '';
  top: 50%!important;
  left: 50%!important;
  margin: -.64285714em 0 0 -.64285714em!important;
  width: 1.28571429em!important;
  height: 1.28571429em!important;
  -webkit-animation: button-spin .6s linear;
  animation: button-spin .6s linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 500rem;
  border-color: #fff transparent transparent;
  border-style: solid;
  border-width: .2em;
  -webkit-box-shadow: 0 0 0 1px transparent;
  box-shadow: 0 0 0 1px transparent;
}

&:before {
  position: absolute;
  content: '';
  top: 50%!important;
  left: 50%!important;
  margin: -.64285714em 0 0 -.64285714em!important;
  width: 1.28571429em!important;
  height: 1.28571429em!important;
  border-radius: 500rem;
  border: .2em solid rgba(0,0,0,.15);
}
}


.custom.divider {
  border-bottom: 5px solid #2185d0 !important;
  margin: 1rem -1rem;
}

.divider.fluid {
  margin-left: -1rem !important;
  margin-right: -1rem !important;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
}

.medium.image {
  max-width: 250px !important;
}

.borderless {
  border: none !important;
}

.shadowless {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.radiusless {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
}

#vertical-divider {
  position: relative;
  height: 100%;
  &:before {
      content: '';
      position: absolute;
      width: 1px;
      height: 100%;
      background: #ececec;
      z-index: 1;
  }
}

.rounded-corner {
  -webkit-border-radius: .25rem;
  -moz-border-radius: .25rem;
  -o-border-radius: .25rem;
  -ms-border-radius: .25rem;
  border-radius: .25rem;
}

.circular-corner {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  -o-border-radius: 500px;
  -ms-border-radius: 500px;
  border-radius: 500px;
}

.w-100 {
  width: 100% !important;
}

.w-50 {
width: 50% !important;
}

.w-25 {
width: 25% !important;
}

.w-auto {
  width: auto !important;
}

.self-center {
  align-self: center;
  -webkit-align-self: center;
}


#top-menu {
  margin: -1rem;
  height: 60px;

  .yellow.button {
    height: 36px;
  }

  .dropdown.user {
    background: tomato;
    color: #fff;
  }

  .settings {
    margin-right: .25rem !important;

    .item {
      display: block;
      width: 100%;
      @extend .radiusless;
    }
  }
}



#content {
.l-side-wrapper {
    width: 270px;
    padding: 0;
    visibility: visible;
    background: #206a8e;

    .ui.header {
      margin: 0;
      background: #fff;
      padding: 0.75rem;
      border-bottom: 1px solid #ededed;
      height: 61px;
      position: fixed;
      width: 270px;
      z-index: 9;
      
      img {
        height: 100%;
      }
    }

    .vertical.menu {
        @extend .radiusless;
        @extend .borderless;
        @extend .shadowless;
        background: transparent;
        margin: 0;
        width: 100%;
        top: 60px;
        position: relative;
        height: -webkit-calc(100vh - 60px);
        height: -moz-calc(100vh - 60px);
        height: -ms-calc(100vh - 60px);
        height: -o-calc(100vh - 60px);
        height: calc(100vh - 60px);
        overflow-y: auto;
        -ms-overflow-style: none !important;
        -moz-overflow-style: none !important;
        scrollbar-width: none !important;
        
        &::-webkit-scrollbar {
          display: none !important;
        }

        .children {
            background: #1e5b78;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
            -webkit-flex-direction: row;
            -moz-flex-direction: row;
            -ms-flex-direction: row;
            -o-flex-direction: row;
            flex-direction: row;
            
            &.settings {
              flex-wrap: wrap;
            }

            .item {
              -webkit-flex: 1;
              -moz-flex: 1;
              -ms-flex: 1;
              -o-flex: 1;
              flex: 1;
              text-align: center;
              padding: .5rem;
              background: transparent;
              flex-wrap: wrap;
              flex-grow: 1;
              white-space: nowrap;

              &:nth-child(even) {
                padding: .5rem .5rem .5rem .25rem;
              }

              span {
                padding: .65rem .5rem;
                width: 100%;
                display: block;
                background: #174e68;
                color: #fff;
                @extend .rounded-corner;
              }

              &:after {
                  position: absolute;
                  content: '';
                  bottom: 0;
                  left: 0;
                  width: 100%;
                  height: 1px;
                  background: #2377a0;
                  display: block;
              }

              &:hover {
                background: transparent;
              }
            }
        }

        a.item:hover {
          font-weight: bold;
        }

        .item {
            color: #fff;
            @extend .radiusless;
            &:hover {
              background: transparent;
            }

            &:before,
            &:after {
                display: none;
            }

            &.parent {
                font-size: 1.1rem;
                line-height: 1.2;
                background: #206a8e;

                img {
                  width: 46.59px;
                  height: 46.59px;
                  margin: -1rem .75rem -1rem -1.25rem;
                  padding: .75rem;
                  float: left;
                  border-right: 1px solid #2377a0;
                }

                &:after {
                    position: absolute;
                    content: '';
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background: #ededed;
                    display: block;
                    visibility: hidden;
                }
            }
        }
    }
}

.r-side-wrapper {
    flex: 1;
    -webkit-flex: 1;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;

    .ui.menu.breadcrumb {
      margin: 1rem -1rem;
      padding: 0 1rem;
      height: 46.59px;
      background: #fafafa;
      border-top: 1px solid #efefef;
      border-bottom: 1px solid #efefef;

      .header {
        color: #ffffff;
        font-size: 1.1rem;
        padding: .5rem;
        background: dimgray;
        border-radius: .25rem;
      }
    }

  .table {
    thead {
      th {
        text-align: center;
      }
      
      tr:first-child th {
        background: #f1f1f1;

        &:nth-child(2) {
          min-width: 250px;
        }
      }
    }
  }	
}
}

#dashboard {
  .cards.general {
      .card {
          .content {
              display: flex;
              display: -webkit-flex;
              text-align: center;

              &.top {
                background: #fff;
              }

              &.bottom, &.top {
                padding: .75rem;
              }

              &.bottom {
                position: relative;

                &:before {
                  content: '';
                  position: absolute;
                  left: 49.9%;
                  width: 1px;
                  height: 62px;
                  background: gainsboro;
                  top: 0;
                }
              }
          }
          .image {
              width: 40px;
          }
          .header {
              margin: auto;
          }
          .l-side,
          .r-side {
              width: 50%;
          }
          .r-side {
              align-self: center;
              -webkit-align-self: center;
          }
          .l-side {
              position: relative;

              .ui.header img {
                height: 100%;
              }
          }
      }
  }

  .sales.chart {
    .card {
      .content:not(.top) {
        div {
          overflow-x: auto;
        }
      }
    }
  }

  canvas {
    height:320px; 
    min-width: 1284px
  }
  
  .latest.cards {
    margin-top: -1rem;
  }

  .table th, .content.top {
    background: #fff;
  }

  .content.top {
    background: #f1f1f1;
  }

  .transactions {
    a {
      color: #000;
    }
  }
}

#product {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  .column {
    padding: 1rem;

    &.left {
      -webkit-flex: 1;
      -moz-flex: 1;
      -ms-flex: 1;
      -o-flex: 1;
      flex: 1;
    }

    &.right {
      width: 250px;

      .field {
        &.free {
          .label {
            width: 53px;
          }
        }
      }

      .info.message {
        word-break: break-all; 
      }
    }
  }
}

#files-list {
  >.head {
    position: relative;
    border-bottom: 5px solid #e6e6e6;
    display: flex;
    align-items: center;

    h3 {
      margin: 0;
      color: #5a5a5a;
    }

    .ui.input {
      margin-left: auto;
    }
  }

  .content.body {
    height: 369px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .card {
    border: 1px solid #d6d6d6;

    .header {
      font-size: .9rem;
      padding: .5rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: capitalize;
    }
  }

  .actions {
    height: 65px;

    .ui.input {
      float: left;

      input {
        height: 36px;
      }
    }
  }
}

.note-editor.note-frame {
border: 1px solid #eaeaea !important;
border-radius: .25rem;

.note-icon-font {
  background-color: #ffffff !important;
}
.note-toolbar {
  background: ghostwhite;
}
.note-btn-group button {
  background: #fff;
}
}

#items {
  .ui.table thead th {
      background: #74808c;
      color: #fff;
  }
}

#supports {
fieldset {
  @extend .rounded-corner;
  border-color: rgba(0, 0, 0, 0.03);

  p {
    margin-top: .5rem;
  }
}

textarea {
  resize: vertical;
}
}

#post {
.ui.placeholder {
  cursor: pointer;
  max-width: 360px;

  img {
    display: none;
  }

  .ui.image {
    img {
      display: block;
    }
  }
}
}

footer {
  margin: 1rem -1rem -1rem;
  border-top: 1px solid #ececec;
  background: whitesmoke;

  .ui.menu {
      padding: 1rem;
      .header {
        color: #9c9c9c;
        cursor: default !important;
        
        &:hover {
            background: transparent !important;
        }
      }
  }
}


#toggle-r-column {
display: none;
}

.table.wrapper {
overflow-y: visible;
overflow-x: auto;
min-height: 400px;
}


#transactions {
  .card {
    @extend .d-block;

    span {
      float: right;
      max-width: 250px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .status {
      position: relative; 
      top: .45rem;
    }

    .content 
    {
      &:nth-child(1)
      {
        background: steelblue;

        .header {
          color: #fff;
        }
      }

      span.minus {
        color: #ff5757;
        font-weight: bold;
      }

      span.plus {
        color: #00a000;
        font-weight: bold;
      }
    }
    
    .title {
      background: #f0ebb0;

      h4 {
        text-transform: uppercase;
        color: #000;
      }
    }
  }
}



#refund {
.header {
  font-size: 1.2rem !important;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}
}


#newsletter {
.ui.grid {
  display: flex;

  .column {
    flex: 1;
  }
}



.ui.multiple.dropdown > .label {
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;

  i {
    position: absolute;
    right: .5rem ;
    top: 25%;
  }
}

.items-selection {
  padding: .5rem;
  border: 1px solid #dedede;
  border-radius: .25rem;

  &:not(:first-child)
  {
    margin-top: 1rem;
  }
}
}


#settings {
.card {
  @extend .shadowless;
  border: 1px solid #e8e8e8;
  
  .checkbox-wrapper {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    align-items: center;
    display: flex;
    padding: 0 1rem;
    background: #fff;
  }
  
  .content {
    position: relative;

    &:nth-child(odd) {
      max-height: 60px;
    }
  }
}

#search-cover {
 display: flex;
 
 button {
  &:first-child {
    flex: 1;
  }
  &:last-child {
    width: 36px;
    margin-left: .5rem;
  }
 } 
}
}



#mobile-menu-toggler {
  height: 36px;
  background: ghostwhite;
  border-radius: .25rem;

  &:hover {
    color: #fff;
    background: linear-gradient(45deg, #7e7e7e, #afafaf, #bababa);
  }
}

.main.row {
  min-height: calc(100vh - 212px);

  table {
    thead th:first-child {
      width: 50px;
    }
  }
}

span.comment-content, span.support-message {
  cursor: default;
}

.note-modal-body, .note-modal-header, .note-modal-footer {
  padding: 1rem !important;
}

.note-modal-header .close {
  margin-top: 0 !important;
}

.note-modal-footer {
  height: auto !important;
  text-align: right !important;
  
  .note-btn {
    float: none !important;
  }
}

#page {
  .image.rounded {
    width: 100px; 
    cursor: pointer;
  }
}











@media (min-width: 1025px) {
  .mobile-only {
      display: none !important;
  }
}

@media (max-width: 1024px) {
  .desktop-only {
      display: none !important;
  }
  #content .l-side-wrapper {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 9999;
      height: 100vh;
  }
}

@media (max-width: 768px) {
#newsletter .ui.grid {
  display: block;

  .column {
    width: 100%;
  }
}

#transactions {
  margin-top: 2rem !important;
}

#toggle-r-column {
  display: inline-block;
}

#product .column {
  &.right {
    display: none;
    position: absolute;
    right: 0;
    z-index: 1;
    background: #fff;

    &.visible {
      display: block;
      height: 100%;
    }
  }

  &.left.blur {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    -o-filter: blur(10px);
    filter: blur(10px);
  }
}
}

@media (max-width: 520px) {
  .ui.doubling.cards {
      display: block;
      padding: 1rem !important;
      .card {
          display: block;
          width: 100% !important;
          margin: 0 !important;
          &:not(:first-child) {
              margin-top: 1rem !important;
          }
          .content.title {
              white-space: normal !important;
              overflow: visible;
              text-overflow: initial;
              text-align: left;
              width: 100%;
              display: block;
          }
      }
  }
}